{
  "presets": [
    ["env", {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }] ,
    ["minify",{
      "simplify":false,
      "builtIns":false,
      "evaluate": false,
		"removeConsole":{
        "exclude": ["error", "warn", "info" ]
      },
      "removeDebugger":true
      }]
  ]
}
